.il-standard-form-cmd button[disabled],
.il-standard-form-cmd input[type='submit'][disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.center {
    justify-content: center;
}

.left {
    justify-content: flex-start;
    margin-right: auto;
}

.right {
    justify-content: flex-end;
    margin-left: auto;
}

body {
    margin: 0;
}

.aipic_object {
    display: flex;
}

