.il-standard-form-cmd button[disabled],
.il-standard-form-cmd input[type='submit'][disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.center {
    justify-content: center;
}

.left {
    justify-content: flex-start;
    margin-right: auto;
}

.right {
    justify-content: flex-end;
    margin-left: auto;
}


body {
    margin: 0;
}

.aipic_container {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.aipic_object {
    display: flex;
}

.aipic-small {
    width: 300px;
    height: auto;
}

.aipic-medium {
    width: 500px;
    height: auto;
}

.aipic-large {
    width: 800px;
    height: auto;
}

.aipic-default-size {
    width: auto;
    height: auto;
}